<% if(errors.lenght != 0) {  %> 

<div class="row">
    <div class="col">
      <div class="alert alert-danger">

        <% errors.forEach(erro => { %>
        <%=erro %><br> 
        <% });  %> 

      </div>
    </div>

<% } %> 


<% if(sucess.lenght != 0) {  %> 

  <div class="row">
      <div class="col">
        <div class="alert alert-sucess">
  
          <% sucess.forEach(sucess => { %>
          <%=sucess %><br> 
          <% });  %> 
  
        </div>
      </div>
  
  <% } %> 