<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">
  <div class = "row">
    <div class = "col-lg-2"></div>

    <div class = "col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Contatos do projeto agenda</p>

      <%- include('includes/messages') %>

        <div class="responsive-table">
          <table class="table">
            <tr>
              <td>Mauricio</td>
              <td>Santana</td>
              <td>12873197391</td>
              <td>mauricio.santana2010@hotmail.com</td>
            </tr>

            
          </table>
        </div>

      </div>

    </div>
    <div class = "col-lg-2"></div>
  </div>


</div>
  

<%- include('includes/footer')%>