<%- include('includes/head')%>
</head>

<body>

  <section class="container">
    <h1>
     <% for(let i = 0;i <numero.length ;i++){ %>  
         <%= numero[i] %>  
         <% ;} %>   
    </h1>

    <form action="/" method="post">  
      <label>cliente</label>
      <input type="text" name="cliente">
      <button>enviar</button>
    </form>
  </section>

  <%- include('includes/footer')%>