<%- include('includes/head')%>
</head>

<body>

  <section class="container">
    <h1><%= csrfToken %> </h1>

    <form action="/" method="post">  
      <input type="hidden" name ="_csrf" value="<%= csrfToken %>"> 
      <label>cliente</label>
      <input type="text" name="cliente">
      <button>enviar</button>
    </form>
  </section>

  <%- include('includes/footer')%>